 form{border: 1px solid black; width:39%; padding:10px; }
 label{font-size:14px; font-weight: bolder; }
 .spa{color:gray; font-size:10px; margin-left:22%;}
 .spa2{color:gray; font-size:10px; margin-left:13%;}
 .inp{position:absolute; left:10%;}
 .inp2{position:absolute; left:19.5%;}
.das{position:absolute; left:16.2%;}
.num1{position:absolute; left:10%; width:70px;}
.size{width:11%;}
div{font-size:12px; position:absolute; left:10%; top:85%; }
P{background-color:lightyellow; height:30px; text-align:center; padding-top:10px;  font-size:14px; }
img{position:absolute; left:40%; top:20%; width:745px; height:425px; }
b{position:absolute; left:55%; top:7%; width:400px; height:20px; font-size:20px; }